.texte{
    background-color: white;
    color: black;
    margin-left: 140px;
    margin-right: 160px;
    margin-top: 10px;
    height: 4170px;
    padding-left: 50px;
    font-size: 25px;
    border-radius: 45px;
}